page {
  width: 100%;
  padding-top: 68px;
}
.searchBar{
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding-bottom: 8px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  background-color:#31c27c;
  .searchBarbox{
    position:relative;
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10PX;
    box-sizing: border-box;
    border-radius:15px;
    background:#fff;
    border:1px solid #e6e6ea;
    .searchInput{
      max-width: 400px;
      flex-grow: 0;
      font-size: 24px;
    }
    .clear{
      position: absolute;
      right: 18px;
    }
  }
  .comfirm{
    width: 68px;
    padding: 10px;
    margin-left: 32px;
    border-radius: 15px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #009933;
  }
}
.listItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 30px;
  border-top: 1px solid #cfcfcf;
  .leftBox{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    .albumDesc{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    .songName{
      color: #000;
      font-size: 26px;
    }
    .singer{
      color: #737373;
      font-size: 20px;
    }
    .overflow{
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .albumImg{
      width: 100px;
      height: 100px;
      flex-shrink: 0;
    }
    .profileBox{
      position: relative;
      .avatar{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .icon{
        position: absolute;
        right: 0;
        bottom: 6px;
        width: 20px;
        height: 20px;
      }
    }
    .lrc{
      color: #000;
      font-size: 20px;
    }
  }
  .row{
    flex-direction: row;  
  }
  .rightBox{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 10px;
    box-sizing: border-box;
    .playIcon{
      width: 40px;
      height: 40px;
    }
  }
}
.tabsPage{
  .at-tabs__item--active{
    color: #31c27c;
    .at-tabs__item-underline{
      background-color: #31c27c;
    }
  }
}